<div class="page-wrapper">
    <div class="content">
        <div class="row">


        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card-box">
                    <h2 class="text-center">SISTEMA DE GESTIÓN DE FICHAS MEDICAS</h2>
                    <div class="row">
                        <div class="col-sm-6 m-b-20">
                            <img src="assets/img/logo-dark.png" class="inv-logo" alt="">
                            <ul class="list-unstyled mb-0">
                                <li>PreClinic</li>
                                <li>Av. Germán Amézaga 375</li>
                                <li>Cercado de Lima, Lima </li>
                            </ul>
                        </div>
                        <div class="col-sm-6 m-b-20">
                            <div class="invoice-details">
                                <h5 class="text">Facultad de Ingenieria de Sistemas e Informatica</h5>
                                <ul class="list-unstyled">
                                    <span>Julio, 2022</span>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        
                    </div>
                    <div class="row">
                        <div class="col-sm-6 text-center">
                            <div>
                                <h5 class="m-b-10"><strong><Fieldset>FISI</Fieldset></strong></h5>
                                <img src="assets/img/fisi.jpg" width="500px" height="300px">
                            </div>
                        </div>
                        <div class="col-sm-6 text-center">
                            <div>
                                <h5 class="m-b-10"><strong>CLINICA UNIVERSITARIA</strong></h5>
                                <img src="assets/img/clinica.jpg" width="500px" height="300px">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
