<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-sm-7 col-6">
                <h4 class="page-title">Perfil: {{nombres}}</h4>

            </div>

            <div class="col-sm-5 col-6 text-right m-b-30">
                <!--<a href="edit-profile.html" class="btn btn-primary btn-rounded"><i class="fa fa-plus" aria-disabled="false"></i> Edit Profile</a>-->
            </div>
        </div>
        <div class="card-box profile-header">
            <div class="row">
                <div class="col-md-12">
                    <div class="profile-view">
                        <div class="profile-img-wrap">
                            
                                <img class="avatar" src="assets/img/user.jpg" alt="">
                          
                        </div>
                        <div class="profile-basic">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="profile-info-left">
                                        <h3 class="user-name m-t-0 mb-0"></h3>
                                        <h3 class="user-name m-t-0 mb-0"></h3>
                                        <div class="staff-id"><b>DNI</b> : {{dni}} </div>
                                        <div class="staff-id"><b>Codigo</b> : {{codigo}} </div>
                                        <div class="row">
                                            <div class="staff-msg form-group col">
                                                <a [routerLink]="['/ficha-medica',idUser]" class="btn ">+ Ficha Medica</a>
                                            </div>

                                            <div class="staff-msg form-group col">
                                                <a [routerLink]="['/incidencia',idUser]" class="btn ">+ Incidencia</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <ul class="personal" >
                                        <li>
                                            <span class="staff-id"><b>Telefono</b> : {{telefono}}</span>
                                            <span class="text"></span>
                                        </li>
                                        <li>
                                            <span class="staff-id"><b>Email</b> : {{email}}</span>
                                            <span class="text"></span>
                                        </li>
                                        <li>
                                            <span class="staff-id"><b>Rol</b> : {{rol}}</span>
                                            <span class="text"></span>
                                        </li>
                                        <li>
                                            <span class="staff-id"><b>Sexo</b> : {{sexo}}</span>
                                            <span class="text"></span>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-tabs">
            <ul class="nav nav-tabs nav-tabs-bottom">
                <li class="nav-item"><a class="nav-link active" href="#reporte-cont" data-toggle="tab">Reportes Medicos</a></li>
                <li class="nav-item"><a class="nav-link" href="#bottom-tab2" data-toggle="tab">Incidencias</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane show active" id="reporte-cont">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="card-box mb-0">
                                <h3 class="card-title">Reportes</h3>
                                <div class="experience-box">
                                   <ul class="experience-list">
                                        <li *ngFor="let ficha of fichaMedica ">
                                            <div class="experience-user">
                                                <div class="before-circle"></div>
                                            </div>
                                            <div class="experience-content">
                                                <div class="timeline-content">
                                                    <a [routerLink]="['/mostrar-ficha', ficha._id] " class="name">Ficha Medica</a>
                                                    <span class="time">{{ficha.anio}}</span>
                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="bottom-tab2">
                    <div class="card-box mb-0">
                        <h3 class="card-title">Informes</h3>
                        <div class="experience-box">
                           <ul class="experience-list">
                                <li *ngFor="let inc of incidencia">
                                    <div class="experience-user">
                                        <div class="before-circle"></div>
                                    </div>
                                    <div class="experience-content">
                                        <div class="timeline-content">
                                            <a [routerLink]="['/mostrar-incidencia',inc._id]" class="name">Incidencia</a>
                                            <span class="time">{{inc.fecha}}</span>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
