.full {
    width: 75vw;
    height: 90vh;
    padding: 50px;
    border-width: 0px;
    margin: 20px;    
  }

.row{
    margin-top: 70px;
    margin-left: 45px;
}

.card{
    left: 14.7vw;
    width: 78vw;
    height: 85vh;
}