<div class="container mt-5">
  <div class="row center">
      <div class="">
          <div class="card">
              <div class="card-body text-center">
                  <span class="titulo">LISTADO DE USUARIOS</span>
                  <button class="btn btn-success float-end" routerLink="/crear-usuario">NUEVO</button>
                  <table *ngIf="listUsuarios.length > 0" class="table table-striped mt-3">
                      <thead>
                        <tr>
                          <th scope="col">Nombres</th>
                          <th scope="col">Apellidos</th>
                          <th scope="col">Codigo</th>
                          <th scope="col">Correo</th>
                          <th scope="col">Telefono</th>
                          <th scope="col">Rol</th>
                          <th scope="col">Opciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let usuario of listUsuarios">
                          <td>{{ usuario.nombres }}</td>
                          <td>{{ usuario.apellidos }}</td>
                          <td>{{ usuario.codigo }}</td>
                          <td>{{ usuario.correo}}</td>
                          <td>{{ usuario.telefono}}</td>
                          <td>{{ usuario.rol}}</td>
                          <td>
                              <i [routerLink]="['/perfil', usuario._id]" class="fas fa-edit text-primary"></i>
                              <i (click)="eliminarUsuario(usuario._id)" class="fas fa-trash text-danger"></i>
                              <i [routerLink]="['/perfil', usuario._id]" class="fas fa-user text-primary"></i>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <h5 style="text-align: start; margin-top: 10px;" *ngIf="listUsuarios.length == 0">No hay usuarios para mostrar</h5>
              </div>
          </div>
      </div>
  </div>
</div>