<div class="container mt-5">
    <div class="row center">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo"> {{ titulo | uppercase }}</span>
                    <form class="mt-3" [formGroup]="usuarioForm" (ngSubmit)="agregarUsuario()">
                        <div class="mb-3">
                            <input type="text" formControlName="usuario" class="form-control form-control-lg"
                                placeholder="nombres">
                            <div class="text-danger"
                                *ngIf="usuarioForm.get('usuario')?.hasError('required') && usuarioForm.get('usuario')?.touched">
                                <span>Nombres<strong>es obligatorio</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="apellidos" class="form-control form-control-lg"
                                placeholder="Apellidos">
                            <div class="text-danger"
                                *ngIf="usuarioForm.get('apellidos')?.hasError('required') && usuarioForm.get('apellidos')?.touched">
                                <span>Apellidos<strong>es obligatoria</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="codigo" class="form-control form-control-lg"
                                placeholder="Codigo">
                            <div class="text-danger"
                                *ngIf="usuarioForm.get('codigo')?.hasError('required') && usuarioForm.get('codigo')?.touched">
                                <span>Codigo<strong>es obligatoria</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="correo" class="form-control form-control-lg"
                                placeholder="usuario@unmsm.edu.pe">
                            <div class="text-danger"
                                *ngIf="usuarioForm.get('correo')?.hasError('required') && usuarioForm.get('correo')?.touched">
                                <span>Correo<strong>es obligatoria</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="number" formControlName="telefono" class="form-control form-control-lg"
                                placeholder="959854545">
                            <div class="text-danger"
                                *ngIf="usuarioForm.get('telefono')?.hasError('required') && usuarioForm.get('telefono')?.touched">
                                <span>Telefono<strong>es obligatorio</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <button routerLink="/" class="btn btn-secondary btn-lg float-start">VOLVER</button>
                            <button type="submit" [disabled]="usuarioForm.invalid" class="btn btn-success btn-lg float-end">ACEPTAR</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>